<header class="navbar navbar-fixed-top navbar-inverse">
  <%= link_to "The Great Charleston Race", root_path, id: "logo" %>
  <div class="container">
    
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Information",    information_path %></li>
        <li><%= link_to "Race Signup!", signup_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>